<footer class="footer">

	<div class="wrap">

		{% if site.data.settings.footer_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="footer__logo">
			<img src="{{ site.data.settings.footer_settings.logo_image | relative_url }}" class="footer__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="footer__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}
	
		<div class="footer_menu">
			<div class="footer_menu__toggle js-menu-toggle">
				<!-- <div class="footer_menu__toggle__icon"><span></span></div> -->
				<ul class="footer_menu__list">
					{% for item in site.data.settings.menu_settings.footer_menu_items %}
					<li class="footer_menu__list__item">
						<a href="{{ item.url | relative_url }}" class="footer_menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		
			<div class="footer_menu__wrap">
				<ul class="footer_menu__list">
					{% for item in site.data.settings.menu_settings.footer_menu_items %}
					<li class="footer_menu__list__item">
						<a href="{{ item.url | relative_url }}" class="footer_menu__list__item__link">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>
<!--
		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
		</div>

		{% include socials.html %}
	-->
	</div>

</footer>
