// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Footer

.footer {
	background-color: $header-background-color;
	height: 40px;
	margin-top: 30px;
}

.footer__logo {
	display: inline-block;
	width: $footer-logo-width;
	max-height: 40px;
}


.footer__title {
	font-size: $sitetitle-small;
	font-weight: $sitetitle-weight;
	letter-spacing: $sitetitle-spacing;
	line-height: 1;
	color: $text-medium-color;

	&:hover {
		color: $text-dark-color;
	}

	@include mq(tabletp) {
		font-size: $sitetitle-small;
	}

	@include mq(laptop) {
		font-size: $sitetitle-small;
	}
}

.footer__text {
	color: $text-light-color;
}

.footer__copyright {
	display: inline-block;
	margin-top: 10px;
	font-size: 13px;
	color: $text-light-color;

	a {
		margin-left: 10px;
		color: $text-light-color;
		font-weight: $regular-weight;

		&:hover {
			color: $text-medium-color;
		}
	}

	span {
		margin-top: 10px;
		display: inline-block;
	}

	@include mq(tabletp) {

		span {
			margin-top: 0;
		}
	}
}

.footer .socials {
	margin-top: 25px;

	@include mq(laptop) {
		position: absolute;
		top: 0;		
		margin-top: 0;
	}
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Menu

.footer_menu {
	margin-left: 60px;
	

	@include mq(tabletl) {
		margin-left: 60px;
		position: absolute;
		top: 50%;	
		@include translate(0,-50%);
	}
}

.footer_menu__toggle {
	position: absolute;
	z-index: 10002;
	top: 50%;
	@include translate(0,-50%);
	cursor: pointer;
	font-size: 15px;
	line-height: 20px;
	color: $text-dark-color;

	
	@include mq(tabletl) {
		display: none;
	}
}

.footer_menu__toggle__icon {
	float: right;
	position: relative;
	width: 24px;
	height: 20px;
	margin-left: 8px;

	span, span:before, span:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 3px;
		@include transition(all 0.1s);
		background: $text-dark-color;
	}

	span:before {
		top: -8px;
	}

	span:after {
		top: 8px;
	}
}

.footer_menu--open .footer_menu__toggle__icon {

	span:before, span:after {
		background: $overlay-text-color !important;
	}
		
	span {
		background-color: transparent !important;
	}
	
	span:before,
	span:after {
		top: 0;
	}
	
	span:before {
		@include rotate(45);
	}

	span:after {
		@include rotate(-45);
	}
}

.footer_menu__wrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	background: rgba($overlay-background-color,0.95);
	overflow: auto;

	visibility: hidden;
	opacity: 0;
	@include transition(all 0.2s ease-in-out);

	@include mq(tabletl) {
		position: relative;
		background: transparent;
		visibility: visible;
		overflow: visible;
		opacity: 1;
		@include transition(none);
	}
}

.footer_menu--open .footer_menu__wrap {
	visibility: visible;
	opacity: 1;
}

.footer_menu__list {
	list-style: none;
	margin: 0px auto;
	max-width: 100%;	
		
	@include mq(tabletp) {
		margin-top: $menu-list-margin-top-tablet;
		max-width: 100%
	}

	@include mq(tabletl) {
		margin-top: $menu-list-margin-top-tablet-large;
	}

	@include mq(laptop) {
		margin-top: $menu-list-margin-top-laptop;
	}

	@include mq(desktop) {
		margin-top: $menu-list-margin-top-desktop;
	}



	// @include mq(tabletp) {
	//	padding: 40px 0 0;
	//	max-width: 100%;
	// }

	// @include mq(tabletl) {
	//	max-width: none;
	//	margin: 0;
	//	padding: 0;
	// }
}

.footer_menu__list__item {
	// margin-top: $menu-list-margin-top;
	display: inline-block;
	margin-left: 20px;

	&:first-child {
	margin-left: 0;
	}

	@include mq(tabletp) {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
		margin-left: 0;
		}
	}

	@include mq(tabletl) {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
			}
	}

	@include mq(laptop) {
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
			}
	}

	@include mq(desktop) {
		display: inline-block;
		margin-left: 20px;
		&:first-child {
			margin-left: 0;
			}
	}
}

.footer_menu__list__item__link {
	// font-size: $menu-small;
	font-size: 10px;
	font-weight: $menu-weight;
	// color: $overlay-text-color;
	color: $background-color;
	padding: 10px 0;

	&:hover {
		color: $overlay-accent-color;
	}

	@include mq(tabletl) {
		padding: 0 0 3px;
		font-size: $menu-medium;
		color: $background-color;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $accent-color;
		}
	}

	@include mq(laptop) {
		font-size: $menu-large;
		color: $background-color;
	}
	
	&.active-link {
		color: $overlay-accent-color;

		@include mq(tabletl) {
			color: $text-light-color;
			border-color: $accent-color;
		}
	}
}

.footer_menu__button {
	margin-top: 15px;
	padding: 15px 20px 16px;
	font-size: 13px;

	@include mq(tabletl) {
		margin-top: 0;
		padding: 11px 20px 12px;
		font-size: 15px;
	}
}

.buttons--circular {

	.footer_menu__button {
		border-radius: 24px;

		@include mq(tabletl) {
			border-radius: 21px;
		}
	}
}